<div class="pb-5"></div>
<footer id="footerApp" class="container-fluid fixed-bottom bg-white shadow">
    <div class="text-center m-1 links" v-if="Object.isNotNull(appInfo)">
<!--        <a :href="appInfo.github"><i class="fab fa-github"></i></a>-->
<!--        <a href="/dev/log.html"><i class="fa fa-code"></i> dev log</a>-->
        <span class="text-secondary">{{appInfo.projectName}} <small class="text-muted">{{appInfo.projectVersion}}</small></span>
        <span class="text-secondary">Java <small class="text-muted">{{appInfo.javaRuntimeVersion}}</small></span>
    </div>
</footer>

<script src="/static/js/vue/3.0.4/vue.global.prod.js"></script>
<script src="/static/js/axios/0.21.0/axios.min.js"></script>
<script src="/static/js/qs/6.9.0/qs.min.js"></script>
<script src="/static/js/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/bootstrap/4.5.0/dist/js/bootstrap.min.js"></script>
<script src="/static/js/ztree/v3/jquery.ztree.all.min.js"></script>
<script src="/static/js/my/prototypes.js"></script>
<script src="/static/js/my/obj.js"></script>
<script src="/static/js/sweetalert2/8/sweetalert2.min.js"></script>
<script src="/static/js/my/util.js"></script>

<script>
    Vue.createApp({
        data() {
            return {
                appInfo: {}
            }
        },
        mounted() {
            axios.get('/common/appInfo').then(res => {
                this.appInfo = res.data.data
            })
        }
    }).mount('#footerApp')
</script>
