<div id="footerApp" class="container-fluid" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <nav class="text-center text-muted">
        <hr>
        <div class="row">
            <div class="col-sm-2"><p><a v-bind:href="appInfo.github"><i class="fab fa-github"></i></a></p></div>
            <div class="col-sm-2"><p><i class="fab fa-java"></i> {{appInfo.javaRuntimeVersion}}</p></div>
            <div class="col-sm-8">
                <p>
                    <strong>{{appInfo.projectName}}</strong> <small>{{appInfo.projectVersion}} build at {{appInfo.buildTime}}</small>
                </p>
            </div>
        </div>
    </nav>
</div>

<script src="/static/js/vue/3.0.4/vue.global.prod.js"></script>
<script src="/static/js/axios/0.21.0/axios.min.js"></script>
<script src="/static/js/qs/6.9.0/qs.min.js"></script>
<script src="/static/js/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/bootstrap/4.5.0/dist/js/bootstrap.min.js"></script>

<script>
    Vue.createApp({
        data() {
            return {
                appInfo: {
                    github: '--',
                    javaRuntimeVersion: '--',
                    projectName: '--',
                    projectVersion: '--',
                    buildTime: '--'
                }
            }
        },
        mounted() {
            axios.get('/common/appInfo').then(res => {
                this.appInfo = res.data.data
            })
        }
    }).mount('#footerApp')
</script>