<!DOCTYPE html>
<html lang="zh-cn"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="common/header :: header('OFM')"></head>
<body>
<div>
    <div class="sticky-top">
        <span th:replace="common/nav :: nav_common('index')"></span>
    </div><!-- nav end -->

    <div class="container">
        <div id="goodsIndexVueApp" class="mt-5">
            <div class="input-group w-auto m-auto">
                <input name="q" v-model.trim="searchInput" class="form-control border-success"
                       type="text"
                       aria-label="Search">
                <div class="input-group-append">
                    <select class="custom-select rounded-0 border-right-0 border-success">
                        <option selected>二手书</option>
                    </select>
                    <select v-model="usedTypeSelected" class="custom-select rounded-0 border-right-0 border-success">
                        <div v-if="Array.isNotEmpty(usedBookTypes)">
                            <option v-for="type in usedBookTypes" :value="type.code">{{type.desc}}</option>
                        </div>
                    </select>
                    <button class="btn btn-outline-success" @click="search">Search</button>
                </div>
            </div>
            <div class="mt-5">
                <div v-if="Array.isNotEmpty(goodsPage.records)">
                    <div class="card-columns" id="goodsPage">
                        <div class="card mb-3" v-for="goods in goodsPage.records">
                            <!--                        <img v-if="Array.isNotEmpty(goods.picArr)" :src="`${goods.picArr[0]}?rd=${Math.random()}`" class="card-img-top">-->
                            <a :href="`/goods/${goods.tbId}.html`">
                                <img v-if="Array.isNotEmpty(goods.picArr)" :src="goods.mainPicUrl" class="card-img-top">
                            </a>
                            <div class="card-header">{{goods.typeDesc}}</div>
                            <div class="card-body">
                                <p>
                                    <strong class="card-title text-danger">&yen;{{goods.price}}</strong>
                                </p>
                                <p v-if="String.isNotBlank(goods.desc)" class="card-text">{{goods.desc}}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <span>{{goods.updateTime}}</span>
                                    <span class="float-right"><i class="far fa-eye"></i> {{goods.views}}</span>
                                </small>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="page nav">
                        <ul class="pagination justify-content-center">
                            <!--prev-->
                            <!--                        <li v-if="goodsPageRequest.page.current == 1" class="page-item btn disabled"><i-->
                            <!--                                class="fa fa-angle-double-left" aria-hidden="true"></i></li>-->
                            <li v-if="goodsPageRequest.page.current > 1" class="page-item btn" @click="prev"><i
                                    class="fa fa-angle-double-left" aria-hidden="true"></i></li>
                            <!--pageIndex of pages-->
                            <li class="page-item page-link">{{goodsPageRequest.page.current}} / {{goodsPage.pages}}</li>
                            <!--next-->
                            <!--                        <li v-if="goodsPageRequest.page.current == goodsPage.pages || goodsPage.total === 0"-->
                            <!--                            class="page-item btn disabled"><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>-->
                            <li v-if="goodsPageRequest.page.current < goodsPage.pages" class="page-item btn"
                                @click="next">
                                <i
                                        class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        </ul>
                    </nav>
                </div>
                <div v-else>
                    <div class="text-center">
                        <h1 class="text-muted">Nothing</h1>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- bootstrap .container end -->

</div>

<span th:replace="common/footer"></span>
<script src="/static/js/my/index.js"></script>
</body>
</html>