<!DOCTYPE html>
<html lang="zh-cn"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="common/header :: header(${'OFM'}, ${'index'})"></head>
<body>

    <div class="sticky-top">
        <span th:replace="common/nav :: nav_homepage('homepage')"></span>
    </div><!-- nav end -->

    <div class="container">
        <div id="indexApp">
            Counter: {{ counter }}
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>p</p>
            <p>XX</p>
        </div>
    </div><!-- bootstrap .container end -->

<span th:replace="common/footer"></span>
<script src="/static/js/my/index.js"></script>
</body>
</html>