<!DOCTYPE html>
<html lang="zh-cn"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: header('与' + ${chat.goods.seller.nickname} + '的私聊')"></head>
<body>
<div class="sticky-top">
    <span th:replace="common/nav :: nav_common('common')"></span>
</div><!-- nav end -->
<div class="container">
    <div id="doChatVueApp">
        <h3 class="text-center pt-3">{{chat.goods.seller.nickname}}</h3>
        <hr class="my-4">
        <div class="media">
            <a :href="`/goods/${chat.goods.tbId}.html`">
                <img v-if="String.isNotBlank(chat.goods.mainPicUrl)"
                     :src="chat.goods.mainPicUrl"
                     class="img-fluid rounded align-self-center mr-3"
                     style="width: 70px; height: 70px;">
            </a>
            <div class="media-body">
                <div class="d-flex w-100 justify-content-between">
                    <span class="font-weight-bold text-danger">&yen;{{chat.goods.price}}</span>
                    <div v-if="'BUYER' === chat.currentTransactionRole">
                        <div v-if="chat.sold">
                            <button v-if="chat.boughtByCurrentUser" class="btn btn-light btn-sm disabled" disabled>已买</button>
                            <button v-else class="btn btn-light btn-sm disabled" disabled>已卖</button>
                        </div>
                        <button v-else @click="buyNow(chat.goods.tbId)" class="btn btn-warning text-white btn-sm">立即购买</button>
                    </div>
                </div>
                <p><small class="text-muted">由 {{chat.goods.seller.nickname}} 发布于 {{chat.goods.cityName}}</small></p>
            </div>
        </div>
        <form onsubmit="return false" class="pt-3">
            <div class="form-group overflow-auto" style="height: 500px" id="resText">
                <span v-if="Array.isNotEmpty(chat.chatMessages)">
                    <span v-for="msg in chat.chatMessages">
                        <p v-if="msg.fromCurrentUser" class="text-right pr-2">
<!--                            <span class="badge badge-pill badge-secondary">我</span>-->
                            <span class="badge badge-pill badge-success text-white rounded-pill">{{msg.messageContent}}</span>
                            <br><small class="text-muted">{{msg.createTime}}</small>
                        </p>
                        <p v-else>
<!--                            <span class="badge badge-pill badge-secondary">对方</span>-->
                            <span class="badge badge-pill badge-dark text-white rounded-pill">{{msg.messageContent}}</span>
                            <br><small class="text-muted">{{msg.createTime}}</small>
                        </p>
                    </span>
                </span>
            </div>
            <div class="form-group">
                <label for="msgInput"></label><input type="text" id="msgInput" name="msg" class="form-control"
                                                     placeholder="">
            </div>
            <div class="form-group">
                <button id="sendMsgBtn" disabled="disabled" class="form-control btn btn-primary"
                        onclick="send(this.form.msg.value, 1, false)"><i class="fas fa-paper-plane"></i></button>
            </div>
        </form>
    </div>
</div>

<span th:replace="common/footer"></span>
<script th:inline="javascript">
    const doChatVueApp = Vue.createApp({
        data() {
            return {
                chat: [[${chat}]]
            }
        },
        mounted() {
            console.log(this.chat)
            let $rt = $('#resText')
            $rt.scrollTop($rt[0].scrollHeight)
        },
        methods: {
            buyNow(goodsTbId) {
                axios.put(`/goods/buy/${goodsTbId}`).then(res => {
                    if (res.data.success) {
                        Swal.fire({
                            title: '',
                            text: "购买成功",
                            type: 'success',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.value) {
                                location.reload()
                            }
                        })
                    } else {
                        Swal.fire('', res.data.message, 'error')
                    }
                }).catch(err => {
                    Swal.fire('', err.toString(), 'error')
                })
            }
        }
    }).mount('#doChatVueApp')

    let socket
    if (!window.WebSocket) {
        window.WebSocket = window.MozWebSocket
    }
    let $resText = $('#resText')
    let $msgInput = $('#msgInput');
    let $sendMsgBtn = $('#sendMsgBtn');
    axios.get('/netty/goodsPrivateNettyHost').then(res => {
        if (res.data.success) {
            if (window.WebSocket) {
                socket = new WebSocket(res.data.data)
                socket.onmessage = function (event) {
                    let otherSideChatMessage = JSON.parse(event.data)
                    // 对方
                    $resText.append(`
                        <p>
                            <span class="badge badge-pill badge-dark text-white rounded-pill">${otherSideChatMessage.messageContent}</span>
                            <br><small class="text-muted">${otherSideChatMessage.createTime}</small>
                        </p>
                    `)
                    scrollChatDivToNewest()
                };
                socket.onopen = function (event) {
                    $resText.append(`<p class="text-muted text-center"><small><i class="fas fa-link"></i> ${new Date().defaultFormat()}</small></p>`)
                    scrollChatDivToNewest()
                    // 连接上后发送一条消息给服务端进行用户-商品-通道的定位绑定
                    send('用户-商品-通道绑定消息', 1, true)
                };
                socket.onclose = function (event) {
                    $resText.append(`<p class="text-muted text-center"><small><i class="fas fa-unlink"></i> ${new Date().defaultFormat()}</small></p>`)
                    scrollChatDivToNewest()
                };
            } else {
                Swal.fire('', '您的浏览器不支持WebSocket协议！', 'error')
            }
        } else {
            Swal.fire('', res.data.message, 'error')
        }
    }).catch(err => {
        Swal.fire('', err.toString(), 'error')
    })

    let currentLoginUser;
    axios.get('/currentLoginUser').then(res => {
        if (res.data.success) {
            currentLoginUser = res.data.data;
        } else {
            Swal.fire('', res.data.message, 'error')
        }
    }).catch(err => {
        Swal.fire('', err.toString(), 'error')
    })

    function send(msg, messageTypeCode, userGoodsChannelConnectBind) {
        if (!window.WebSocket) {
            return
        }
        if (socket.readyState === WebSocket.OPEN) {
            let nettyChatMessage = {
                'currentUserDetails': currentLoginUser,
                'chatMessageDTO': {
                    'goodsTbId': doChatVueApp.chat.goods.tbId,
                    'buyerSysUserTbId': doChatVueApp.chat.chatMessages[0].buyerSysUserTbId,
                    'sellerSysUserTbId': doChatVueApp.chat.chatMessages[0].sellerSysUserTbId,
                    'messageContent': msg,
                    'messageTypeCode': messageTypeCode,   // 暂时只支持文本类消息
                    'senderSysUserTbId': currentLoginUser.tbId,
                    'readBuyer': doChatVueApp.chat.currentTransactionRole === 'BUYER',
                    'readSeller': doChatVueApp.chat.currentTransactionRole === 'SELLER',
                    'userGoodsChannelConnectBind': userGoodsChannelConnectBind
                }
            }
            if (!userGoodsChannelConnectBind) {
                // 我
                $resText.append(`
                    <p class="text-right">
                        <span class="badge badge-pill badge-success text-white rounded-pill">${msg}</span>
                        <br><small class="text-muted">${new Date().defaultFormat()}</small>
                    </p>
                `)
                scrollChatDivToNewest()
            }
            socket.send(JSON.stringify(nettyChatMessage))
            $msgInput.val('')
            $sendMsgBtn.attr('disabled', 'disabled')
            $msgInput.focus()
        } else {
            Swal.fire('', 'WebSocket连接建立失败！', 'error')
        }
    }

    /**
     * 监听输入框以改变按钮可用状态
     */
    $(function () {
        $msgInput.bind('input propertychange', function () {
            if (String.isBlank($msgInput.val())) {
                $sendMsgBtn.attr('disabled', 'disabled')
            } else {
                $sendMsgBtn.removeAttr('disabled')
            }
        })
    })

    /**
     * 给输入框绑定回车输入发送信息事件
     */
    $(function () {
        $msgInput.bind('keypress', function (event) {
            if (event.keyCode === '13') {
                send($msgInput.val(), 1, false)
            }
        })
    })

    /**
     * 滚动到聊天div底部
     */
    function scrollChatDivToNewest() {
        $resText.scrollTop($resText[0].scrollHeight)
    }
</script>
</body>
</html>