<!DOCTYPE html>
<html lang="zh-cn"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="common/header :: header('Goods search result')"></head>
<body class="bg-light">
<div class="container">
    <div id="searchResVueApp">
        <div v-if="Array.isNotEmpty(searchRes)">
            <div class="card-columns pt-3">
                <div class="card mb-3" v-for="goods in searchRes">
                    <img v-if="Array.isNotEmpty(goods.picArr)" :src="goods.picArr[0]" class="card-img-top">
                    <div class="card-body">
                        <p>
                            <strong class="card-title text-danger">CNY {{goods.price}}</strong>
                            <a class="card-link float-right" :href="`/goods/${goods.tbId}.html`" target="_blank"><i
                                    class="fa fa-info-circle"></i></a>
                        </p>
                        <p v-if="String.isNotBlank(goods.desc)" class="card-text">{{goods.desc}}</p>
                        <p class="card-text"><small class="text-muted">最后更新于 {{goods.updateTime}}</small></p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h1 class="text-muted">No more</h1>
            </div>
        </div>
        <div v-else>
            <div class="text-center">
                <h1 class="text-muted">Nothing</h1>
            </div>
        </div>
    </div>
</div>
<span th:replace="common/footer"></span>
<script th:inline="javascript">
    const goodsApp = Vue.createApp({
        data() {
            return {
                searchRes: [[${searchRes}]]
            }
        },
        methods: {
            init() {
                console.log(this.searchRes)
            }
        }
    }).mount('#searchResVueApp')
    goodsApp.init()
</script>
</body>
</html>