<!DOCTYPE html>
<html lang="zh-cn"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: header('用户验证')"></head>
<body>
<div class="sticky-top">
    <span th:replace="common/nav :: nav_homepage('homepage')"></span>
</div><!-- nav end -->
<div class="container">
    <div id="verifyVueApp">
        <br>
        <div v-if="verifyResult.success">
            <div class="jumbotron">
                <h1 class="display-4"><i class="far fa-check-circle text-success"></i> 激活成功</h1>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="/login.html" role="button">现在登录</a>
            </div>
        </div>
        <div v-else>
            <div class="jumbotron">
                <h1 class="display-4"><i class="far fa-times-circle text-danger"></i> 激活失败</h1>
                <p class="lead">{{verifyResult.message}}</p>
                <hr class="my-4">
                <button class="btn btn-dark btn-lg" href="#" @click="contactAdmin">联系管理员</button>
            </div>
        </div>
    </div>
</div>
<span th:replace="common/footer"></span>
<script th:inline="javascript">
    Vue.createApp({
        data() {
            return {
                verifyResult: [[${verifyResult}]]
            }
        },
        mounted() {
            console.log(this.verifyResult)
        },
        methods: {
            contactAdmin() {
                Swal.fire('', '开发中...', 'info')
            }
        }
    }).mount('#verifyVueApp')
</script>
</body>
</html>