<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.add1s.ofm.mapper.GoodsMapper">

    <sql id="selectGoodsDetail">
        SELECT
            goods.`tb_id`,
            goods.`price`,
            goods.`desc`,
            goods.`pics`,
            goods.`views`,
            goods.`goods_type_code`,
            goods.`location_tb_id`,
            goods.`seller_sys_user_tb_id`,
            goods.`off_shelf`,
            goods.`create_time`,
            goods.`update_time`,
            param.`desc` AS goodsTypeDesc,
            city.`name` cityName,
            city.`ext_name` cityExtName,
            suser.nickname,
            suser.tb_id sellerTbId
        FROM t_goods goods
        LEFT JOIN t_parameter param ON param.group_name = 'GOODS_TYPE' AND param.`code` = goods.goods_type_code
        LEFT JOIN t_sys_user suser ON suser.tb_id = goods.seller_sys_user_tb_id
        LEFT JOIN t_china_city_level4 city ON city.tb_id = goods.location_tb_id
    </sql>

    <resultMap id="findGoodsDetailMap" type="net.add1s.ofm.pojo.vo.business.GoodsVO" autoMapping="true">
        <association property="seller" javaType="net.add1s.ofm.pojo.vo.sys.SysUserVO">
            <result column="nickname" property="nickname"/>
            <result column="sellerTbId" property="tbId"/>
        </association>
    </resultMap>
    <select id="findOnShelfGoodsDetailByTbId" resultMap="findGoodsDetailMap">
        <include refid="selectGoodsDetail"/>
        WHERE goods.`tb_id` = #{goodsTbId}
        AND goods.`off_shelf` = 0
    </select>
    <select id="findGoodsDetailByTbId" resultMap="findGoodsDetailMap">
        <include refid="selectGoodsDetail"/>
        WHERE goods.`tb_id` = #{goodsTbId}
    </select>

    <select id="findByDesc" resultType="net.add1s.ofm.pojo.vo.business.GoodsVO">
        <include refid="selectGoodsDetail"/>
        WHERE goods.`desc` LIKE CONCAT('%', #{q}, '%')
        AND goods.`off_shelf` = 0
    </select>

    <update id="viewsAdd">
        UPDATE t_goods SET `views` = `views` + 1 WHERE `tb_id` = #{goodsTbId}
    </update>

    <resultMap id="findChatListMap" type="net.add1s.ofm.pojo.vo.business.GoodsChatVO">
        <result column="unread" property="unread"/>
        <association property="goods" javaType="net.add1s.ofm.pojo.vo.business.GoodsVO">
            <id column="goods_tb_id" property="tbId"/>
            <result column="pics" property="pics"/>
            <association property="seller" javaType="net.add1s.ofm.pojo.vo.sys.SysUserVO">
                <id column="seller_sys_user_tb_id" property="tbId"/>
                <result column="nickname" property="nickname"/>
            </association>
        </association>
        <association property="lastMessage" javaType="net.add1s.ofm.pojo.vo.business.ChatMessageVO" autoMapping="true"/>
    </resultMap>
    <select id="findChatList" resultMap="findChatListMap">
        WITH chat_msg AS (
            SELECT
                t.tb_id,
                t.create_time,
                t.goods_tb_id,
                t.buyer_sys_user_tb_id,
                t.seller_sys_user_tb_id,
                t.message_content,
                t.message_type_code,
                t.sender_sys_user_tb_id,
                t.read_buyer,
                t.read_seller
            FROM
                (
                    SELECT
                        tb_id,
                        create_time,
                        goods_tb_id,
                        buyer_sys_user_tb_id,
                        seller_sys_user_tb_id,
                        message_content,
                        message_type_code,
                        sender_sys_user_tb_id,
                        read_buyer,
                        read_seller,
                        ROW_NUMBER() OVER(PARTITION BY goods_tb_id ORDER BY create_time DESC) rn
                    FROM t_chat_message WHERE buyer_sys_user_tb_id = #{currentUserTbId} OR seller_sys_user_tb_id = #{currentUserTbId}
                ) t WHERE t.rn = 1
        )
        SELECT
            cm.tb_id,
            cm.create_time,
            cm.goods_tb_id,
            cm.message_content,
            cm.message_type_code,
            goods.pics,
            goods.seller_sys_user_tb_id,
            seller.nickname
        FROM chat_msg cm
        LEFT JOIN t_goods goods ON goods.tb_id = cm.goods_tb_id
        LEFT JOIN t_sys_user seller ON seller.tb_id = goods.seller_sys_user_tb_id
        ORDER BY cm.create_time DESC
    </select>
</mapper>