<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.add1s.ofm.mapper.SysPermissionMapper">

    <select id="findPermissionCodesByRoleCodes" resultType="java.lang.String">
        select
            distinct p.permission_code
        from t_sys_permission p
        left join t_sys_bind_role_permission rp on rp.permission_tb_id = p.tb_id
        left join t_sys_role r on r.tb_id = rp.role_tb_id
        <where>
            <if test="roleCodes != null and roleCodes.size() > 0">
                r.role_code in
                <foreach collection="roleCodes" open="(" close=")" item="roleCode" separator=",">
                    #{roleCode}
                </foreach>
            </if>
        </where>
    </select>

    <select id="findSysPermissionVOByUsername" resultType="net.add1s.ofm.pojo.vo.sys.SysPermissionVO">
        select
            p.*
        from t_sys_permission p
        left join t_sys_bind_role_permission rp on rp.permission_tb_id = p.tb_id
        left join t_sys_bind_user_role ur on ur.role_tb_id = rp.role_tb_id
        left join t_sys_user u on u.tb_id = ur.user_tb_id
        where u.username = #{username}
    </select>

</mapper>