<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.add1s.ofm.mapper.SysRoleMapper">

    <select id="findRoleCodesByUsername" resultType="java.lang.String">
        select
            r.role_code
        from t_sys_user u
        left join t_sys_bind_user_role ur on ur.user_tb_id = u.tb_id
        left join t_sys_role r on r.tb_id = ur.role_tb_id
        where r.tb_id is not null
        and u.username = #{username}
    </select>

    <select id="findBound" resultType="net.add1s.ofm.pojo.vo.sys.SysRoleVO">
        select
            r.tb_id,
            r.role_code,
            r.role_name,
            r.role_desc
        from t_sys_user u
        left join t_sys_bind_user_role ur on ur.user_tb_id = u.tb_id
        left join t_sys_role r on r.tb_id = ur.role_tb_id
        where r.tb_id is not null
        and u.tb_id = #{sysUserTbId}
    </select>

    <insert id="setDefaultRole">
        insert into t_sys_bind_user_role values (#{sysUserTbId}, #{sysRoleTbId})
    </insert>

    <delete id="deleteBounds">
        delete from t_sys_bind_user_role where user_tb_id = #{sysUserTbId}
    </delete>

    <insert id="bindRole">
        insert into t_sys_bind_user_role values
        <foreach collection="sysBindUserRoleVOS" item="ur" separator=",">
            (#{ur.userTbId}, #{ur.roleTbId})
        </foreach>
    </insert>

</mapper>